<section id="quadcopter">
	  <div class="row">
        <div class="four columns">
		  <h3>{{ .Title }}</h3>
		  	
		    <aside><p>programming, real-time, embedded</p></aside>
            {{ .Content }}	

        </div>

		<div class="eight columns">

		  <h3></h3><!--Hack for the top margin alighment without custom CSS rules-->
			<ul class="block-grid two-up" >
			  {{ range  .Params.summaryimages }}
			  <li>
			    <a href="{{ .imagehref }}" rel="shadowbox[quad]">
				  <img src="{{ .thumburl }}" alt="{{ .title }}">
				</a>
			  </li>
			  {{ end }}
			</ul>
		</div>
      </div>
	  </section>
	  <hr />

