<section id="quadcopter">
	  <div class="row">
        <div class="four columns">
		  <h3>{{ .Title }}</h3>
		  	
		  	{{ range $key, $value := .Params.testarray }}
		    <p>key:  {{ $key }},  value: {{ $value}} </p>
		    {{ end }}

		    <p> data array </p>
			{{ range $key, $value := .Params.dataarray }}
			<p>key:  {{ $key }},  value: {{ $value}} </p>
		    {{ end }}

		    <p> hasharray </p>
			{{ range $key, $value := .Params.hasharray }}
				<p>key:  {{ $key }},  value: {{ $value}} </p>
				<p>fieldone: {{ .fieldone }}, fieldtwo: {{ .fieldtwo }} </p>
		    {{ end }}

		    <aside><p>programming, real-time, embedded</p></aside>
            {{ .Content }}	

        </div>

		<div class="eight columns">

		  <h3></h3><!--Hack for the top margin alighment without custom CSS rules-->
			<ul class="block-grid two-up" >
			  <li>
			    <a href="assets/images/Quadcopter/DSCN7754.JPG" rel="shadowbox[quad]">
				  <img src="assets/images/Quadcopter/thumb/DSCN7754.JPG">
				</a>
			  </li>
			  <li>
			    <a href="assets/images/Quadcopter/DSCN9035.JPG" rel="shadowbox[quad]">
				  <img src="assets/images/Quadcopter/thumb/DSCN9035.JPG">
				</a>
			  </li>
			  <li>
			    <a href="assets/images/Quadcopter/DSCN7753.JPG" rel="shadowbox[quad]">
				  <img src="assets/images/Quadcopter/thumb/DSCN7753.JPG">
				</a>
			  </li>
			  <li>
			    <a href="assets/images/Quadcopter/DSCN7767.JPG" rel="shadowbox[quad]">
				  <img src="assets/images/Quadcopter/thumb/DSCN7767.JPG">
				</a>
			  </li>
			</ul>
		</div>
      </div>
	  </section>
	  <hr />

