{{ partial "header.html" . }}
<title>{{ .Site.Title }}</title>  
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/index_extra.css">

</head>
<body>

  <div class="row">
    <div class="twelve columns">
	  <div class="row">
			<div class="eight columns">
				<h2>Vlad Kvitnevskiy</h2>
			</div>
			<div class="three columns offset-by-one">
				<h2>{{ .Site.Params.headertitle }}</h2>
			</div>
	  </div>
    </div>
	<hr />
  </div>

	
  <div class="row">
    <div class="eight columns">

    {{ range .Data.Pages.ByWeight }}
        {{ if eq .Type  "mainpages" }}
            {{ .Render "indexchunk"}}
        {{ end }}
    {{ end }}

	  
	</div>
	
    <div class="three columns offset-by-one">
      <h3>About me</h3>
      <p>I'm a <a href="http://www.uwaterloo.ca">U.Waterloo</a> Computer Engineering graduate of 2012.</p>
	  <p>You can find me on <a href="https://github.com/vladkvit">Github</a> and <a href="http://stackoverflow.com/users/293672/darthshader">StackOverflow</a>.
	  <p>My <a href="https://dl.dropboxusercontent.com/u/87486/Resume%20Vladimir%20Kvitnevskiy.pdf">resume</a>.</p>

      <h3>Contact</h3>
      <p>My email - <a href = "mailto:vladkvit@outlook.com">vladkvit@outlook.com</a></p>
      
    </div>
  </div>

  <div class="row">
  	<hr />

  </div> 
{{ partial "footer.html" . }}
</body>
</html>
