/*h3.imagetoptitle { text-align: center; }*/
.category h3  { color: white; text-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;}
.category aside { color: white; }
.category  { background-color: rgb(64, 64, 64); }	